<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>reset password</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <div style="background-color: #f4f4f4; padding: 20px; text-align: center">
      <h1 style="color: #333333">reset password</h1>
    </div>

    <div style="padding: 20px">
      <p>Hello <span th:text="${username}"></span>,</p>
      <p>
        Thank you for reset password with our service.Please click in the button
        to reset password:
      </p>

      <p
        style="
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center;
        "
      >
        <a
          th:href="'http://localhost:3000/react/template/reset-password/' + ${verificationCode}"
        >
          <button
            style="font-size: 24px; font-weight: bold; margin-bottom: 20px"
          >
            <span>Reset Password</span>
          </button>
        </a>
      </p>
      <p>If you need any assistance, please contact our support team.</p>

      <p style="margin-top: 20px">Best Regards,<br />XsusTain Service Team</p>
    </div>
  </body>
</html>
